@font-face {
  font-family: "Gotham-Light";
  src: url("/Users/nicholasdoelger/Library/Fonts/Gotham-Light.otf");
}
@font-face {
  font-family: "Gotham-Book";
  src: url("/Users/nicholasdoelger/Library/Fonts/Gotham-Book.otf");
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
  background: rgb(42, 55, 74);
  background: linear-gradient(
    180deg,
    rgba(42, 55, 74, 1) 0%,
    rgba(223, 230, 236, 1) 100%
  );
}

/* HEADER */

.name,
.title,
li {
  font-family: "Gotham-Light", sans-serif;
}

.title {
  font-size: 5rem;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
  color: #dfe6ec;
  width: 90%;
}

ul {
  list-style: none;
}

header h2 {
  margin-right: auto;
  transition: all 0.3s ease 0s;
}

.name {
  margin-right: auto;
}

li {
  display: inline-block;
  padding: 0 10px;
  font-size: 1.25rem;
}

li:nth-child(2) {
  padding: 0 15px 0 0;
}

li a {
  transition: all 0.3s ease 0s;
}

header img {
  width: 39px;
  margin-right: 15px;
  transition: all 0.3s ease 0s;
}

button {
  padding: 9px 25px;
  background-color: #586c80;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  transition: all 0.4s ease 0s;
}

/* HOMEPAGE */

.row {
  width: 95%;
  display: flex;
  margin: auto;
}

.package {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
  width: 50%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.row img {
  width: 100%;
}

.overlay {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 55, 76, 0.75);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.page-link {
  flex-grow: 1;
  display: flex;
}

.package h1 {
  font-size: 3vw;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
    width: 90%;
  }

  .package {
    width: 100%;
    margin: 5px auto;
  }

  .package h1 {
    font-size: 5vw;
  }
}

/* INDIVIDUAL PAGES */

h1 {
  font-family: "gotham-book", sans-serif;
  color: #dfe6ec;
  transition: all 0.3s ease 0s;
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
}
p {
  font-family: "gotham-light", sans-serif;
  color: #dfe6ec;
  width: 85%;
  margin: 10px auto 15px auto;
  font-size: 28px;
}

.container {
  width: 95%;
  display: flex;
  margin: auto;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 0px;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.column img {
  height: 100%;
  width: 100%;
  padding: 0 0 15px 0;
}

.column img:last-child {
  padding: 0;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  p {
    width: 90%;
    font-size: 20px;
  }
}
