@font-face {
  font-family: "Gotham-Light";
  src: url("/Users/nicholasdoelger/Library/Fonts/Gotham-Light.otf");
}

body {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  background: rgb(0, 212, 255);
  background: radial-gradient(
    circle,
    rgba(0, 212, 255, 1) 0%,
    rgba(226, 226, 255, 1) 75%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

.name,
.title,
li {
  font-family: "Gotham-Light", sans-serif;
}

.title {
  font-size: 5rem;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6px 5%;
  background-color: rgba(226, 226, 255, 0);
  width: 90%;
}

ul {
  list-style: none;
}

header h2 {
  margin-right: auto;
}

.name {
  margin-right: auto;
}

li {
  display: inline-block;
  padding: 0 10px;
}

li:nth-child(2) {
  padding: 0 15px 0 0;
}

li a {
  transition: all 0.3s ease 0s;
}

li a:hover {
  color: brown;
}

.grid {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  flex-grow: 1;
  background-color: white;
  height: 400px;
  width: 700px;
  text-align: center;
  margin: 2.5px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}

.title {
  display: flex;
  flex-grow: 1;
  height: 400px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.grid a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leap-images img {
  display: block;
  width: 70%;
  text-align: center;
  margin: 5px auto;
}

.leap-images {
  text-align: center;
  margin: 5 auto;
}

.TD-container {
  max-width: 1224;
  width: 95%;
  margin: auto;
  padding: 30px 0;

  display: flex;
  gap: 10px;
}

.TD-column {
  display: flex;
  flex-direction: column;
}

.TD-column img {
  width: 100%;
  height: 100%;
  padding: 0 0 15px 0;
  object-fit: cover;
}

@media (max-width: 600px) {
  .TD-container {
    flex-direction: column;
  }
}

.fbb-container {
  max-width: 1224;
  width: 95%;
  display: flex;
  margin: auto;
  gap: 10px;
  align-items: flex-start;
}

.fbb-column {
  display: flex;
  flex-direction: column;
}

.fbb-column img {
  height: 100%;
  width: 100%;
  padding: 0 0 15px 0;
}

@media (max-width: 600px) {
  .fbb-container {
    flex-direction: column;
  }
}

.leap-container {
  display: flex;
  align-items: flex-start;
  margin: auto;
  gap: 10px;
  width: 95%;
}

.leap-column {
  display: flex;
  flex-direction: column;
}

.leap-column img {
  width: 100%;
  height: 100%;
  padding: 0 0 15px 0;
}

@media (max-width: 600px) {
  .leap-container {
    flex-direction: column;
  }
}
